# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iws
*.iml


logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
