<div class="btn-group btn-group-toggle btn-block mb-4" data-toggle="buttons">
<!--  <label [routerLink]="[PEOPLE_TAB.url]" class="btn btn-outline-dark mr-2" id="{{PEOPLE_TAB.button}}">-->
  <label [routerLink]="[PEOPLE_TAB.url]" class="btn btn-outline-dark mr-2" id="peopleTabButton">
    <input type="radio" name="options" id="peopleTab" autocomplete="off">People
  </label>
<!--  <label [routerLink]="[REQUESTS_TAB.url]" class="btn btn-outline-dark mr-2" id="{{REQUESTS_TAB.button}}">-->
  <label [routerLink]="[REQUESTS_TAB.url]" class="btn btn-outline-dark mr-2" id="requestsTabButton">
    <input type="radio" name="options" id="requestsTab" autocomplete="off">Requests
    <span class="badge badge-pill badge-primary float-right align-top" *ngIf="requestService.getIncomingCount() > 0">{{requestService.getIncomingCount()}}</span>
  </label>
<!--  <label [routerLink]="[PROFILE_TAB.url]" class="btn btn-outline-dark" id="{{PROFILE_TAB.button}}">-->
  <label [routerLink]="[PROFILE_TAB.url]" class="btn btn-outline-dark" id="profileTabButton">
    <input type="radio" name="options" id="profileTab" autocomplete="off">Profile
  </label>
</div>
