<div class="card mb-2" style="width: 18rem;" *ngFor="let request of requestService.getAllPending(); let i = index">
  <div class="card-header" id="heading_{{i}}">
    <div *ngIf="request.type === CONNECTION_REQUEST">
      <b>Connection</b> {{request.user.name}}
    </div>
    <div *ngIf="request.type === DEBT_REQUEST">
      <b>Debt</b> {{personService.get(request.personId).name}} {{personService.get(request.personId).surname}}
    </div>
  </div>
  <div class="card-body" *ngIf="request.data.length > 0">
    <ul class="list-group list-group-flush" *ngFor="let debt of request.data">
      <li class="list-group-item"><b>{{debt.creditType}}</b> {{debt.value}}{{debt.currency.code}}</li>
    </ul>
  </div>
</div>
